{% extends "account/base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    {% if user.is_authenticated %}
    <h1>Hey {{ user.username|title }} !</h1> <h2>Welcome, How are you today.</h2>
    <hr>
    <table class="table table-responsive table-striped">
        <tbody>
           <tr>
             <td>Upload Csv</td>
             <td><a href="{% url 'product:upload' %}">Upload</a></td>

             <td>View Data</td>
             <td><a href="{% url 'product:view' %}">View</a></td>
           </tr>
           <tr></tr>
           <tr>
             <td>Delete Entire Data</td>
             <td><a href="{% url 'product:delete' %}" onclick="return confirm('Are you sure you want to delete ?');">Delete</a></td>
             <td>Add Product</td>
             <td><a href="{% url 'product:create' %}">Add</a></td>
           </tr>
         </tbody>
    </table>
    {% else %}
        <h2>Register or Login if you'd like to..</h2>
    {% endif %}
  </div>
</div>
{% endblock %}
