{% extends "account/base.html" %}
{% load tz %}
{% load static %}

{% block style %}
<style media="screen">
.glyphicon {
  padding: 2px;
  font-size: 17px;
}
</style>
{% endblock %}

{% block body_block %}

<div class="breadcrumb-pannel">
    <div class="row ">
        <div class="float-left col-md-10">
            <div class="btn-group btn-breadcrumb">
                <a href="/" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
                <a href="/" class="btn btn-default">Home</a>
                <a href="/product/view/" class="btn btn-default">View</a>
            </div>
        </div>
        <div class="col-md-2 float-right">
            <a href="/product/create/" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add Product</a>
        </div>
        <form method="post"
              enctype="multipart/form-data"
              action="{% url 'product:search' %}">
              {% csrf_token %}

            <div class="row " style="padding-top: 30px; float: right;">

            <div class="col-md-2 float-left"> </div>
            <div class="col-md-10 float-right">
            <div class="form-group">

            <label class="col-md-2 text-left">Entire DB: </label>
                <div class="col-md-4 ">
                     <select class="form-control" name="pd_att" >
                        <option value="sku">Sku</option>
                        <option value="name">Name</option>
                    </select>
                </div>
                <div class="col-md-4 ">
                    <input type="text" class="form-control" name="search_val" placeholder="Search text" required>
                </div>
                <div class="col-md-2 ">
                    <input class="btn btn-primary" type="submit" value="Search">
                </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<hr>

<table id="example" class="table table-striped table-bordered" >
    <thead>
        <tr>
            <th>#</th>
            <th>SKU</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created At</th>
            <th>Modified At</th>
            <th style="text-align:center">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr class="user-indexing-row">
            <td>{{ forloop.counter }}</td>
            <td width="130px">{{ product.sku | title }}</td>
            <td width="130px">{{ product.name | title }}</td>
            <td>{{ product.description | title }}</td>
            <td>{{ product.created_at }}</td>
            <td>{{ product.modified_at }}</td>

            <td style="text-align:center">
            <span class="">
              <a title="edit" href="{% url 'product:update' %}?sku={{product.sku}}">
              <span class="glyphicon glyphicon-edit"> </span> </a> &nbsp;&nbsp;

               <a title="Delete" href="{% url 'product:update' %}?sku={{product.sku}}&delete=true">
               <span class="glyphicon glyphicon-trash" onclick="return confirm('Are you sure you want to delete ?');"> </span></a> &nbsp;&nbsp;

            </span>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% if products.has_other_pages %}
<nav aria-label="Page navigation">
    <ul class="pager">
        {% if products.has_previous %}
        <li class="previous"><a href="{% if search_url %}?{{ search_url }}&page={{ products.previous_page_number }} {% else %}?page={{ products.previous_page_number }}{% endif %}"><span aria-hidden="true">&larr;</span>
                Previous</a></li>
        {% else %}
        <li class="previous disabled"><a><span aria-hidden="true">&larr;</span> Previous</a></li>
        {% endif %}
        <li>
            <span class="current">
                Page {{ products.number }} of {{ products.paginator.num_pages }}
            </span>
        </li>
        {% if products.has_next %}
        <li class="next"><a href="{% if search_url %}?{{ search_url }}&page={{ products.next_page_number }} {% else %}?page={{ products.next_page_number }}{% endif %}">Next <span aria-hidden="true">&rarr;</span></a>
        </li>
        {% else %}
        <li class="next disabled"><a>Next <span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}

{% block script %}

<script>
$(document).ready(function() {
    $('#example').DataTable();
});

$(function(){
    $('input[type="text"]').change(function(){
        this.value = $.trim(this.value);
    });
});

</script>

{% endblock %}
